.blog-content {
  padding-inline: 30px;
  h1 {
    @media (min-width: 768px) {
      font-size: 42px;
    }
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: var(--font-Saira);
    line-height: 1.25;
    color: #085fa0;
  }
  h2 {
    font-size: 28px;
    color: #085fa0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.25;
    font-family: var(--font-Saira);
  }
  h3 {

    font-weight: inherit;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--font-Saira);
    font-size: 24px;
    color: #085fa0;
  }
  p {
   
    font-feature-settings: normal;
    font-variation-settings: normal;
    --font-inter: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
    --font-Saira: "__Saira_Condensed_f593cc",
      "__Saira_Condensed_Fallback_f593cc";
    --font-Nunito: "__Nunito_Sans_86e40d", "__Nunito_Sans_Fallback_86e40d";
    line-height: 1.5rem;
    padding-block: 8px;
  }
  blockquote {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    --font-inter: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
    --font-Saira: "__Saira_Condensed_f593cc",
      "__Saira_Condensed_Fallback_f593cc";
    --font-Nunito: "__Nunito_Sans_86e40d", "__Nunito_Sans_Fallback_86e40d";
    line-height: 1.5rem;
    margin-bottom: 1rem;
    width: fit-content;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: rgb(58 57 57 / var(--tw-text-opacity));
    box-shadow: rgb(45, 150, 253) 2px 2px 2px;
  }

  a {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    --font-inter: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
    --font-Saira: "__Saira_Condensed_f593cc",
      "__Saira_Condensed_Fallback_f593cc";
    --font-Nunito: "__Nunito_Sans_86e40d", "__Nunito_Sans_Fallback_86e40d";
    line-height: 1.5rem;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    text-decoration: inherit;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: var(--font-Nunito);
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(8 95 160 / var(--tw-text-opacity));
  }

}
@media screen and (max-width: 768px) {
  .blog-content img {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .blog-content img {
   
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      height: 400px;
      width: 100%;
      color: transparent;
      object-fit: contain;
    
  }
  
}

ol{
  list-style-position: inside;
}
  
